body {
	margin:40px;
	font-family:"Golos Text";
	font-size:0.9rem;
	line-height:169%
}

:root {
	--Header-Height:55px;
	--Header-Bottom-Gap:25px;
	--Sidebar-Widths:25%;
}

.header {
	position:sticky;
	top:0;
	height:var(--Header-Height);
	background:#1a1b1d;
	display:flex;
	align-items:center;
	justify-content:center;
	z-index:2; /* this number is to place the header bar in front of the lower content. increase this number as needed. */
}

.header img {
	height:69%;
	width:auto;
	flex-shrink:0;
}

img {
	display:block;
	width:100%;
	max-width:100%;
	max-height:100%;
	object-fit:cover;
	object-position:center;
	vertical-align:middle;
}

img + img {
	margin-top:12px;
}

.parent {
	margin-top:var(--Header-Bottom-Gap);
	display:flex;
	flex-wrap:nowrap;
	align-items:flex-start;
}

.sidebar {
	width:var(--Sidebar-Widths);
	word-break:break-all;
}

.sidebar.short-stick {
	position:sticky;
	top:calc(var(--Header-Height) + var(--Header-Bottom-Gap))
}

.sidebar.stick {
	/* 40px is the padding-bottom when the sidebar has finished scrolling its height */
	position:sticky;
	top:calc(100vh - var(--Target-Height) - 40px);
}

.sidebar.stick .sidebar-inner {
}

.content {
	flex:1;
}

.parent > * + * {
	margin-left:20px;
}

/* the stuff below is just so to make sure that both sidebar1 and the main content are taller than 100vh, and that the main content is taller than sidebar 1 */
@media(max-width:600px){
	.thing1 img {
		display:none
	}
}

@media(min-width:600px){
	body {
		margin:5vh 15vw;
	}
	
	.content img {
		max-height:40vh
	}
	
}